$weights: (
  ('thin', 100),
  ('light', 300),
  ('regular', 400),
  ('semibold', 500),
  ('bold', 700),
  ('extrabold', 800),
  ('black', 900),
);

$families: ('ProximaNova', 'ProximaNova-condensed', 'ProximaNova-extra-condensed');

@each $family in $families {
  @each $weight in $weights {
    @include font-face($family, #{$family}-#{nth($weight, 1)}, nth($weight, 2));
    @include font-face($family, #{$family}-#{nth($weight, 1)}-italic, nth($weight, 2), italic);
  }
}

body {
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 20px;
  display: table;
  width: 100%;
}

div {
  display: table-cell;
  width: 33.3%;
}

.font {
  &-thin {
    font-weight: 100;
  }
  &-light {
    font-weight: 300;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
  &-extrabold {
    font-weight: 800;
  }
  &-italic {
    font-style: italic;
  }
  &-semibold {
    font-weight: 500;
  }
  &-cond {
    font-family: ProximaNova-condensed;
  }
  &-extra-cond {
    font-family: ProximaNova-extra-condensed;
  }
}

