@include font-face('ProximaNova', 'ProximaNova-thin', 100);
@include font-face('ProximaNova', 'ProximaNova-thin-italic', 100, italic);

@include font-face('ProximaNova', 'ProximaNova-light', 300);
@include font-face('ProximaNova', 'ProximaNova-light-italic', 300, italic);

@include font-face('ProximaNova', 'ProximaNova-regular');
@include font-face('ProximaNova', 'ProximaNova-regular-italic', 400, italic);

@include font-face('ProximaNova', 'ProximaNova-semibold', 500);
@include font-face('ProximaNova', 'ProximaNova-semibold-italic', 500, italic);

@include font-face('ProximaNova', 'ProximaNova-bold', 700);
@include font-face('ProximaNova', 'ProximaNova-bold-italic', 700, italic);

@include font-face('ProximaNova', 'ProximaNova-extrabold', 800);
@include font-face('ProximaNova', 'ProximaNova-extrabold-italic', 800, italic);

@include font-face('ProximaNova', 'ProximaNova-black', 900);
@include font-face('ProximaNova', 'ProximaNova-black-italic', 900, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-thin', 100);
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-thin-italic', 100, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-light', 300);
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-light-italic', 300, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-regular');
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-regular-italic', 400, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-semibold', 500);
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-semibold-italic', 500, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-bold', 700);
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-bold-italic', 700, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-extrabold', 800);
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-extrabold-italic', 800, italic);

@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-black', 900);
@include font-face('ProximaNova-condensed', 'ProximaNova-condensed-black-italic', 900, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-thin', 100);
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-thin-italic', 100, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-light', 300);
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-light-italic', 300, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-regular');
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-regular-italic', 400, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-semibold', 500);
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-semibold-italic', 500, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-bold', 700);
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-bold-italic', 700, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-extrabold', 800);
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-extrabold-italic', 800, italic);

@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-black', 900);
@include font-face('ProximaNova-extra-condensed', 'ProximaNova-extra-condensed-black-italic', 900, italic);

body {
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 20px;
  display: table;
  width: 100%;
}

div {
  display: table-cell;
  width: 33.3%;
}

.font {
  &-thin {
    font-weight: 100;
  }
  &-light {
    font-weight: 300;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
  &-extrabold {
    font-weight: 800;
  }
  &-italic {
    font-style: italic;
  }
  &-semibold {
    font-weight: 500;
  }
  &-cond {
    font-family: ProximaNova-condensed;
  }
  &-extra-cond {
    font-family: ProximaNova-extra-condensed;
  }
}

